dtd/braillemusic.dtd

<!-- Braille Music Notator Score 0.9 DTD -->
<!ELEMENT score-braille (filename,page,score)>
<!ELEMENT filename (#PCDATA)>
<!ELEMENT settings (settingentry*)>
<!ELEMENT settingentry (#PCDATA)>
<!ATTLIST settingentry app CDATA #REQUIRED>
<!ELEMENT page (width,height)>
<!ELEMENT width (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT score (symbol*)>
<!ELEMENT symbol EMPTY>
<!ATTLIST symbol row CDATA #REQUIRED>
<!ATTLIST symbol col CDATA #REQUIRED>
<!ATTLIST symbol char (
	accidentalDoubleFlat|
	accidentalDoubleSharp|
	accidentalFiveCommasSharp|
	accidentalFlat|
	accidentalFourCommasFlat|
	accidentalNatural|
	accidentalOneQuarterFlat|
	accidentalOneQuarterSharp|
	accidentalSharp|
	accidentalThreeQuartersFlat|
	accidentalThreeQuartersSharp|
	articulationAccent|
	articulationDownBow|
	articulationFermata|
	articulationMarcato|
	articulationPause|
	articulationStaccato|
	articulationTenuto|
	articulationTrill|
	articulationUpBow|
	barlineDouble|
	barlineFinal|
	barlineSingle|
	chordSymbolCircle|
	chordSymbolPlus|
	chordSymbolSlashedCircle|
	chordSymbolTriangle|
	clefAlto|
	clefBass|
	clefTenor|
	clefTreble|
	directionBrailleMusicComma|
	directionBrailleMusicHyphen|
	directionBrailleText|
	directionLeftHandLong|
	directionLeftHandShort|
	directionMetronomeMarkingEquals|
	directionMusicPrefix|
	directionRightHandLong|
	directionRightHandShort|
	directionTextPrefix|
	directionTranscriberAddition|
	dynamicCrescendoBeginLong|
	dynamicCrescendoBeginShort|
	dynamicCrescendoEndLong|
	dynamicCrescendoEndShort|
	dynamicDiminuendoBeginLong|
	dynamicDiminuendoBeginShort|
	dynamicDiminuendoEndLong|
	dynamicDiminuendoEndShort|
	dynamicForteLong|
	dynamicForteShort|
	dynamicFortissimoLong|
	dynamicFortissimoShort|
	dynamicMezzoForteLong|
	dynamicMezzoForteShort|
	dynamicMezzoPianoLong|
	dynamicMezzoPianoShort|
	dynamicPianissimoLong|
	dynamicPianissimoShort|
	dynamicPianoLong|
	dynamicPianoShort|
	dynamicTextCrescendo|
	dynamicTextDecrescendo|
	dynamicTextDiminuendo|
	figure0|
	figure1|
	figure2|
	figure3|
	figure4|
	figure5|
	figure6|
	figure7|
	figure8|
	figure9|
	fingering1|
	fingering2|
	fingering3|
	fingering4|
	fingering5|
	fingeringChangeFingers|
	intervalFifth|
	intervalFourth|
	intervalOctave|
	intervalSecond|
	intervalSeventh|
	intervalSixth|
	intervalThird|
	ipaAdvancedDiacritic|
	ipaAdvancedTongueRootDiacritic|
	ipaAffricateOrDoubleArticulationDiacritic|
	ipaAlveolarClick|
	ipaAlveolarLateralClick|
	ipaApicalDiacritic|
	ipaAspiratedDiacritic|
	ipaBeginIPATranscription|
	ipaBeginNonIPACharacters|
	ipaBeginOrEndPhonemicTranscription|
	ipaBilabialClick|
	ipaBreathyVoicedDiacritic|
	ipaCentralizedDiacritic|
	ipaCentralMidVowel|
	ipaCentralNearOpenVowel|
	ipaCreakyVoicedDiacritic|
	ipaDentalClick|
	ipaDentalDiacritic|
	ipaDownstep|
	ipaEjectiveDiacritic|
	ipaEndIPATranscription|
	ipaEndNonIPACharacters|
	ipaExtraHighLevelToneDiacritic|
	ipaExtraHighLevelToneLetter|
	ipaExtraLowLevelToneDiacritic|
	ipaExtraLowLevelToneLetter|
	ipaExtraShortSuprasegmental|
	ipaFallingContourToneDiacritic|
	ipaFallingContourToneLetter|
	ipaGlobalFall|
	ipaGlobalRise|
	ipaHalfLongSuprasegmental|
	ipaHighLevelToneDiacritic|
	ipaHighLevelToneLetter|
	ipaHighRisingContourToneDiacritic|
	ipaHighRisingContourToneLetter|
	ipaLabializedDiacritic|
	ipaLaminalDiacritic|
	ipaLateralReleaseDiacritic|
	ipaLessRoundedDiacritic|
	ipaLinguolabialDiacritic|
	ipaLinkingSuprasegmental|
	ipaLongSuprasegmental|
	ipaLoweredDiacritic|
	ipaLowLevelToneDiacritic|
	ipaLowLevelToneLetter|
	ipaLowRisingContourToneDiacritic|
	ipaLowRisingContourToneLetter|
	ipaMajorGroupSuprasegmental|
	ipaMidCentralizedDiacritic|
	ipaMidLevelToneDiacritic|
	ipaMidLevelToneLetter|
	ipaMinorGroupSuprasegmental|
	ipaMoreRoundedDiacritic|
	ipaNasalizedDiacritic|
	ipaNasalReleaseDiacritic|
	ipaNoAudiblereleaseDiacritic|
	ipaNonIPASymbol|
	ipaNonSyllabicDiacritic|
	ipaPalatalizedDiacritic|
	ipaPause|
	ipaPharyngealizedDiacritic|
	ipaPostalveolarClick|
	ipaRaisedDiacritic|
	ipaRetractedDiacritic|
	ipaRetractedTongueRootDiacritic|
	ipaRewriteArrow|
	ipaRhoticityDiacritic|
	ipaRisingContourToneDiacritic|
	ipaRisingContourToneLetter|
	ipaRisingFallingContourToneDiacritic|
	ipaRisingFallingContourToneLetter|
	ipaRoundedBackCloseMidVowel|
	ipaRoundedBackCloseVowel|
	ipaRoundedBackOpenMidVowel|
	ipaRoundedBackOpenVowel|
	ipaRoundedCentralCloseMidVowel|
	ipaRoundedCentralCloseVowel|
	ipaRoundedCentralOpenMidVowel|
	ipaRoundedFrontCloseMidVowel|
	ipaRoundedFrontCloseVowel|
	ipaRoundedFrontOpenMidVowel|
	ipaRoundedFrontOpenVowel|
	ipaRoundedNearBackNearCloseVowel|
	ipaRoundedNearFrontNearCloseVowel|
	ipaSecondaryStressSuprasegmental|
	ipaStressSuprasegmental|
	ipaSyllabicDiacritic|
	ipaSyllableBreakSuprasegmental|
	ipaUnroundedBackCloseMidVowel|
	ipaUnroundedBackCloseVowel|
	ipaUnroundedBackOpenMidVowel|
	ipaUnroundedBackOpenVowel|
	ipaUnroundedCentralCloseMidVowel|
	ipaUnroundedCentralCloseVowel|
	ipaUnroundedCentralOpenMidVowel|
	ipaUnroundedFrontCloseMidVowel|
	ipaUnroundedFrontCloseVowel|
	ipaUnroundedFrontNearOpenVowel|
	ipaUnroundedFrontOpenMidVowel|
	ipaUnroundedFrontOpenVowel|
	ipaUnroundedNearFrontNearCloseVowel|
	ipaUnvoicedAlveolarAffricate|
	ipaUnvoicedAlveolarFricative|
	ipaUnvoicedAlveolarLateralFricative|
	ipaUnvoicedAlveolarPlosive|
	ipaUnvoicedAlveoloPalatalAffricate|
	ipaUnvoicedAlveoloPalatalFricative|
	ipaUnvoicedBilabialFricative|
	ipaUnvoicedBilabialPlosive|
	ipaUnvoicedDentalFricative|
	ipaUnvoicedDiacritic|
	ipaUnvoicedEpiglottalFricative|
	ipaUnvoicedEpiglottalPlosive|
	ipaUnvoicedGlottalFricative|
	ipaUnvoicedGlottalPlosive|
	ipaUnvoicedLabialVelarApproximant|
	ipaUnvoicedLabiodentalFricative|
	ipaUnvociedPalatalFricative|
	ipaUnvoicedPalatalPlosive|
	ipaUnvoicedPharyngealFricative|
	ipaUnvoicedPostalveolarAffricate|
	ipaUnvoicedPostalveolarAffricateAlternate|
	ipaUnvoicedPostalveolarFricative|
	ipaUnvoicedPostalveolarFricativeLong|
	ipaUnvoicedPostalveolarVelarFricative|
	ipaUnvoicedRetroflexFricative|
	ipaUnvoicedRetroflexPlosive|
	ipaUnvoicedUvularFricative|
	ipaUnvoicedUvularPlosive|
	ipaUnvoicedVelarFricative|
	ipaUnvoicedVelarPlosive|
	ipaUpset|
	ipaVelarizedDiacritic|
	ipaVelarizedOrPharyngealizedDiacritic|
	ipaVoicedAlveolarAffricate|
	ipaVoicedAlveolarApproximant|
	ipaVoicedAlveolarFricative|
	ipaVoicedAlveolarImplosive|
	ipaVoicedAlveolarLateralApproximant|
	ipaVoicedAlveolarLateralFlap|
	ipaVoicedAlveolarLateralFricative|
	ipaVoicedAlveolarNasal|
	ipaVoicedAlveolarPlosive|
	ipaVoicedAlveolarTapOrFlap|
	ipaVoicedAlveolarTrill|
	ipaVoicedAlveoloPalatalFricative|
	ipaVoicedAlveoloPalatalFricativeAlternate|
	ipaVoicedBilabialFricative|
	ipaVoicedBilabialImplosive|
	ipaVoicedBilabialNasal|
	ipaVoicedBilabialPlosive|
	ipaVoicedBilabialTrill|
	ipaVoicedDentalFricative|
	ipaVoicedDiacritic|
	ipaVoicedEpiglottalFricative|
	ipaVoicedGlottalFricative|
	ipaVoicedLabializedPalatalApproximant|
	ipaVoicedLabialVelarApproximant|
	ipaVoicedLabiodentalApproximant|
	ipaVoicedLabiodentalFricative|
	ipaVoicedLabiodentalNasal|
	ipaVoicedLabiodentalTapOrFlap|
	ipaVoicedPalatalApproximant|
	ipaVociedPalatalFricative|
	ipaVoicedPalatalImplosive|
	ipaVoicedPalatalLateralApproximant|
	ipaVoicedPalatalNasal|
	ipaVoicedPalatalPlosive|
	ipaVoicedPharyngealFricative|
	ipaVoicedPostalveolarAffricate|
	ipaVoicedPostalveolarAffricateAlternate|
	ipaVoicedPostalveolarFricative|
	ipaVoicedPostalveolarFricativeAlternate|
	ipaVoicedRetroflexApproximant|
	ipaVoicedRetroflexFricative|
	ipaVoicedRetroflexLateralApproximant|
	ipaVoicedRetroflexNasal|
	ipaVoicedRetroflexPlosive|
	ipaVoicedRetroflexTapOrFlap|
	ipaVoicedUvularFricative|
	ipaVoicedUvularImplosive|
	ipaVoicedUvularNasal|
	ipaVoicedUvularPlosive|
	ipaVoicedUvularTrill|
	ipaVoicedVelarApproximant|
	ipaVoicedVelarFricative|
	ipaVoicedVelarImplosive|
	ipaVoicedVelarizedAlveolarLateralApproximant|
	ipaVoicedVelarLateralApproximant|
	ipaVoicedVelarNasal|
	ipaVoicedVelarPlosive|
	keySignatureFlat|
	keySignatureMultiplier1|
	keySignatureMultiplier2|
	keySignatureMultiplier3|
	keySignatureMultiplier4|
	keySignatureMultiplier5|
	keySignatureMultiplier6|
	keySignatureMultiplier7|
	keySignatureNatural|
	keySignaturePrefix|
	keySignatureSharp|
	noteAppoggiaturaShort|
	noteAugmentationDot|
	noteDoubleWholeA|
	noteDoubleWholeB|
	noteDoubleWholeC|
	noteDoubleWholeD|
	noteDoubleWholeE|
	noteDoubleWholeF|
	noteDoubleWholeG|
	noteEighthA|
	noteEighthB|
	noteEighthC|
	noteEighthD|
	noteEighthE|
	noteEighthF|
	noteEighthG|
	noteHalfA|
	noteHalfB|
	noteHalfC|
	noteHalfD|
	noteHalfE|
	noteHalfF|
	noteHalfG|
	noteheadApproximatePitch|
	noteheadDiamond|
	noteheadStemless|
	noteheadX|
	noteInAccord|
	noteInAccordMeasureDivision|
	noteInAccordPartialMeasure|
	noteOneHundredTwentyEighthA|
	noteOneHundredTwentyEighthB|
	noteOneHundredTwentyEighthC|
	noteOneHundredTwentyEighthD|
	noteOneHundredTwentyEighthE|
	noteOneHundredTwentyEighthF|
	noteOneHundredTwentyEighthG|
	notePreferLargerValues|
	notePreferSmallerValues|
	noteQuarterA|
	noteQuarterB|
	noteQuarterC|
	noteQuarterD|
	noteQuarterE|
	noteQuarterF|
	noteQuarterG|
	noteSixteenthA|
	noteSixteenthB|
	noteSixteenthC|
	noteSixteenthD|
	noteSixteenthE|
	noteSixteenthF|
	noteSixteenthG|
	noteSixtyFourthA|
	noteSixtyFourthB|
	noteSixtyFourthC|
	noteSixtyFourthD|
	noteSixtyFourthE|
	noteSixtyFourthF|
	noteSixtyFourthG|
	noteThirtySecondA|
	noteThirtySecondB|
	noteThirtySecondC|
	noteThirtySecondD|
	noteThirtySecondE|
	noteThirtySecondF|
	noteThirtySecondG|
	noteWholeA|
	noteWholeB|
	noteWholeC|
	noteWholeD|
	noteWholeE|
	noteWholeF|
	noteWholeG|
	octave0|
	octave1|
	octave2|
	octave3|
	octave4|
	octave5|
	octave6|
	octave7|
	octave8|
	repeatBarlineBegin|
	repeatBarlineEnd|
	repeatBeginRepeatedSection|
	repeatCoda|
	repeatEnd|
	repeatEndingFirst|
	repeatEndingSecond|
	repeatEndingThird|
	repeatEndRepeatedSection|
	repeatMeasure|
	repeatNumberOfMeasures|
	restDoubleWhole|
	restEighth|
	restHalf|
	restMultimeasureLeft|
	restMultimeasureRight|
	restOneHundredTwentyEighth|
	restQuarter|
	restSixteenth|
	restSixtyFourth|
	restThirtySecond|
	restWhole|
	slurAppoggiatura|
	slurBegin|
	slurEnd|
	slurShort|	
	text0|
	text1|	
	text2|	
	text3|	
	text4|	
	text5|	
	text6|	
	text7|	
	text8|	
	text9|	
	textA|
	textAe|
	textAmpersand|
	textApostrophe|
	textAt|
	textB|
	textBackslash|
	textBar|
	textC|
	textCapitalizeLetter|
	textCapitalizeWord|
	textCaret|
	textCent|
	textColon|
	textComma|
	textContractionAbout|
	textContractionAbove|
	textContractionAccording|
	textContractionAcross|
	textContractionAfter|
	textContractionAfternoon|
	textContractionAfterward|
	textContractionAgain|
	textContractionAgainst|
	textContractionAlly|
	textContractionAlmost|
	textContractionAlready|
	textContractionAlso|
	textContractionAlthough|
	textContractionAltogether|
	textContractionAlways|
	textContractionAnce|
	textContractionAnd|
	textContractionAr|
	textContractionAs|
	textContractionAtion|
	textContractionBb|
	textContractionBe|
	textContractionBecause|
	textContractionBefore|
	textContractionBehind|
	textContractionBelow|
	textContractionBeneath|
	textContractionBeside|
	textContractionBetween|
	textContractionBeyond|
	textContractionBle|
	textContractionBlind|
	textContractionBraille|
	textContractionBut|
	textContractionBy|
	textContractionCan|
	textContractionCannot|
	textContractionCc|
	textContractionCeive|
	textContractionCeiving|
	textContractionCh|
	textContractionCharacter|
	textContractionChild|
	textContractionChildren|
	textContractionCom|
	textContractionCon|
	textContractionCould|
	textContractionDay|
	textContractionDd|
	textContractionDeclare|
	textContractionDeclaring|
	textContractionDis|
	textContractionDo|
	textContractionEa|
	textContractionEd|
	textContractionEither|
	textContractionEn|
	textContractionEnce|
	textContractionEnough|
	textContractionEr|
	textContractionEver|
	textContractionEvery|
	textContractionFather|
	textContractionFf|
	textContractionFirst|
	textContractionFor|
	textContractionFriend|
	textContractionFrom|
	textContractionFul|
	textContractionGg|
	textContractionGh|
	textContractionGo|
	textContractionGood|
	textContractionGreat|
	textContractionHad|
	textContractionHave|
	textContractionHere|
	textContractionHerself|
	textContractionHim|
	textContractionHimself|
	textContractionHis|
	textContractionImmediate|
	textContractionIn|
	textContractionIng|
	textContractionIt|
	textContractionIts|
	textContractionItself|
	textContractionIty|
	textContractionJust|
	textContractionKnow|
	textContractionKnowledge|
	textContractionLess|
	textContractionLetter|
	textContractionLike|
	textContractionLittle|
	textContractionLord|
	textContractionMany|
	textContractionMent|
	textContractionMore|
	textContractionMother|
	textContractionMuch|
	textContractionMust|
	textContractionMyself|
	textContractionName|
	textContractionNecessary|
	textContractionNeither|
	textContractionNess|
	textContractionNot|
	textContractionOClock|
	textContractionOf|
	textContractionOne|
	textContractionOng|
	textContractionOught|
	textContractionOu|
	textContractionOund|
	textContractionOunt|
	textContractionOurselves|
	textContractionOut|
	textContractionOw|
	textContractionPaid|
	textContractionPart|
	textContractionPeople|
	textContractionPerhaps|
	textContractionQuestion|
	textContractionQuick|
	textContractionQuite|
	textContractionRather|
	textContractionRejoicing|
	textContractionRight|
	textContractionSaid|
	textContractionSelf|
	textContractionSh|
	textContractionShall|
	textContractionShould|
	textContractionSion|
	textContractionSo|
	textContractionSome|
	textContractionSpirit|
	textContractionSt|
	textContractionStill|
	textContractionSuch|
	textContractionTh|
	textContractionThat|
	textContractionThe|
	textContractionTheir|
	textContractionThemselves|
	textContractionThere|
	textContractionThese|
	textContractionThis|
	textContractionThose|
	textContractionThrough|
	textContractionTime|
	textContractionTion|
	textContractionTo|
	textContractionToday|
	textContractionTogether|
	textContractionTomorrow|
	textContractionTonight|
	textContractionUnder|
	textContractionUpon|
	textContractionUs|
	textContractionVery|
	textContractionWas|
	textContractionWere|
	textContractionWh|
	textContractionWhere|
	textContractionWhich|
	textContractionWhose|
	textContractionWill|
	textContractionWith|
	textContractionWord|
	textContractionWork|
	textContractionWorld|
	textContractionWould|
	textContractionYou|
	textContractionYoung|
	textContractionYour|
	textContractionYourself|
	textContractionYourselves|
	textCurvedBracketClose|
	textCurvedBracketOpen|
	textD|
	textDecimalPoint|
	textDivision|
	textDollar|
	textDoubleQuotationMark|
	textDoubleQuotationMarkClose|
	textDoubleQuotationMarkOpen|
	textDoubleQuotationMarkUEBClose|
	textDoubleQuotationMarkUEBOpen|
	textE|
	textEmDash|
	textEmDashUEB|
	textEnDash|
	textEnDashUEB|
	textEquals|
	textEuro|
	textExclamationPoint|
	textF|
	textG|
	textGreaterThan|
	textGraveAccent|
	textH|
	textHyphen|
	textI|
	textJ|
	textK|
	textL|
	textLessThan|
	textLowercase|
	textM|
	textMultiplication|
	textN|
	textNumberSign|
	textO|
	textOctothorpe|
	textOe|
	textP|
	textParenthesis|
	textParenthesisClose|
	textParenthesisOpen|
	textPercent|
	textPeriod|
	textPlus|
	textQ|
	textQuestionMark|
	textR|
	textS|
	textSemicolon|
	textSingleQuotationMarkClose|
	textSingleQuotationMarkOpen|
	textSingleQuotationMarkUEBClose|
	textSingleQuotationMarkUEBOpen|
	textSlash|
	textSlashUEB|
	textSquareBracketClose|
	textSquareBracketOpen|
	textT|
	textTilde|
	textU|
	textUnderscore|
	textV|
	textW|
	textX|
	textY|
	textZ|
	tie|
	timeSignatureBottom0|
	timeSignatureBottom1|
	timeSignatureBottom2|
	timeSignatureBottom3|
	timeSignatureBottom4|
	timeSignatureBottom5|
	timeSignatureBottom6|
	timeSignatureBottom7|
	timeSignatureBottom8|
	timeSignatureBottom9|
	timeSignatureCommonTime|
	timeSignatureCutTime|
	timeSignaturePrefix|
	timeSignatureTop0|
	timeSignatureTop1|
	timeSignatureTop2|
	timeSignatureTop3|
	timeSignatureTop4|
	timeSignatureTop5|
	timeSignatureTop6|
	timeSignatureTop7|
	timeSignatureTop8|
	timeSignatureTop9|
	triplet|
	tupletPrefix|
	tupletSuffix|
	untranslated) 
		#REQUIRED>
<!ATTLIST symbol val CDATA #IMPLIED>
