dtd/braillemusic.dtd

<!-- Braille Music Score 0.9 DTD -->
<!ELEMENT score-braille (filename,settings,page,score)>
<!ELEMENT filename (#PCDATA)>
<!ELEMENT settings (settingentry*)>
<!ELEMENT settingentry (#PCDATA)>
<!ATTLIST settingentry app CDATA #REQUIRED>
<!ELEMENT page (width,height)>
<!ELEMENT width (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT score (symbol*)>
<!ELEMENT symbol EMPTY>
<!ATTLIST symbol row CDATA #REQUIRED>
<!ATTLIST symbol col CDATA #REQUIRED>
<!ATTLIST symbol char (
	accidentalAboveOrBelow|
	accidentalDoubleFlat|
	accidentalDoubleSharp|
	accidentalFiveCommasSharp|
	accidentalFlat|
	accidentalFourCommasFlat|
	accidentalNatural|
	accidentalOneQuarterFlat|
	accidentalOneQuarterSharp|
	accidentalSharp|
	accidentalThreeQuartersFlat|
	accidentalThreeQuartersSharp|
	articulationAccent|
	articulationAccentExtended|
	articulationAccentReversed|
	articulationAlternationEighth|
	articulationAlternationOneHundredTwentyEighth|
	articulationAlternationSixteenth|
	articulationAlternationSixtyFourth|
	articulationAlternationThirtySecond|
	articulationArco|
	articulationArpeggioDownward|
	articulationArpeggioDownwardCrossStaff|
	articulationArpeggioUpward|
	articulationArpeggioUpwardCrossStaff|
	articulationBreathFull|
	articulationBreathHalf|
	articulationCross|
	articulationCurveAscendingFollowing|
	articulationCurveAscendingPreceding|
	articulationCurveDescendingFollowing|
	articulationCurveDescendingPreceding|
	articulationDownBow|
	articulationFallingCurvedLineAfter|
	articulationFallingStraightLineAfter|
	articulationFermata|
	articulationFermataBarline|
	articulationFermataBetween|
	articulationFermataSquare|
	articulationFermataTriangle|
	articulationFingernail|
	articulationHarmonicArtificial|
	articulationHarmonicNatural|
	articulationInvertedArch|
	articulationLineBetweenNotes|
	articulationMarcato|
	articulationMezzoStaccato|
	articulationMordentExtendedLower|
	articulationMordentExtendedLowerFlat|
	articulationMordentExtendedLowerSharp|
	articulationMordentExtendedUpper|
	articulationMordentExtendedUpperFlat|
	articulationMordentExtendedUpperSharp|
	articulationMordentLower|
	articulationMordentLowerFlat|
	articulationMordentLowerSharp|
	articulationMordentUpper|
	articulationMordentUpperFlat|
	articulationMordentUpperSharp|
	articulationPizzicato|
	articulationPizzicatoLeftHand|
	articulationRisingCurvedLineBefore|
	articulationRisingStraightLineBefore|
	articulationStaccatissimo|
	articulationStaccato|
	articulationSwell|
	articulationTenuto|
	articulationThumbLeftHand|
	articulationTremoloEighth|
	articulationTremoloHigh|
	articulationTremoloLow|
	articulationTremoloOneHundredTwentyEighth|
	articulationTremoloSixteenth|
	articulationTremoloSixtyFourth|
	articulationTremoloThirtySecond|
	articulationTrill|
	articulationTrillFlat|
	articulationTrillLongBegin|
	articulationTrillLongEnd|
	articulationTrillNatural|
	articulationTrillSharp|
	articulationTurn|
	articulationTurnBothNotesFlat|
	articulationTurnBothNotesSharp|
	articulationTurnInverted|
	articulationTurnInvertedBothNotesFlat|
	articulationTurnInvertedBothNotesSharp|
	articulationTurnInvertedLowerNoteFlat|
	articulationTurnInvertedLowerNoteSharp|
	articulationTurnInvertedUpperNoteFlat|
	articulationTurnInvertedUpperNoteFlatLowerNoteSharp|
	articulationTurnInvertedUpperNoteSharp|
	articulationTurnInvertedUpperNoteSharpLowerNoteFlat|
	articulationTurnLowerNoteFlat|
	articulationTurnLowerNoteSharp|
	articulationTurnSingle|
	articulationTurnSingleInverted|
	articulationTurnUpperNoteFlat|
	articulationTurnUpperNoteFlatLowerNoteSharp|
	articulationTurnUpperNoteSharp|
	articulationTurnUpperNoteSharpLowerNoteFlat|
	articulationUpBow|
	barlineDotted|
	barlineDouble|
	barlineFinal|
	barlineSingle|
	bracketAboveBegin|
	bracketAboveEnd|
	bracketAboveSecondaryBegin|
	bracketAboveSecondaryEnd|
	bracketAboveDottedBegin|
	bracketAboveDottedEnd|
	bracketAboveOpenEnd|
	bracketBelowBegin|
	bracketBelowEnd|
	bracketBelowSecondaryBegin|
	bracketBelowSecondaryEnd|
	bracketBelowDottedBegin|
	bracketBelowDottedEnd|
	bracketBelowOpenEnd|
	chordSymbolCircle|
	chordSymbolCircleSlashed|
	chordSymbolPlus|
	chordSymbolSevenItalic|
	chordSymbolTriangle|
	chordSymbolTriangleSlashed|
	clefAlto|
	clefBaritone|
	clefBass|
	clefBassRightHand|
	clefFrenchViolin|
	clefTenor|
	clefTreble|
	clefTrebleLeftHand|
	clefTrebleOctaveUp|
	clefTrebleOctaveDown|
	directionAsterisk|
	directionBarreBracket|
	directionBarreFull|
	directionBarrePartial|
	directionBrailleMusicComma|
	directionBrailleMusicHyphen|
	directionBrailleText|
	directionButtonRow1|
	directionButtonRow2|
	directionButtonRow3|
	directionButtonRow4|
	directionButtonRow5|
	directionButtonRow6|
	directionDraw|
	directionEditorialMark|
	directionGlissando|
	directionLeftHand|
	directionMetronomeMarkingEquals|
	directionMusicParenthesis|
	directionMusicPrefix|
	directionMusicSuffix|
	directionMusicSymbolComma|
	directionParallelMovement|
	directionPosition01|
	directionPosition02|
	directionPosition03|
	directionPosition04|
	directionPosition05|
	directionPosition06|
	directionPosition07|
	directionPosition08|
	directionPosition09|
	directionPosition10|
	directionPosition11|
	directionPosition12|
	directionPosition13|
	directionPositionHalf|
	directionPositionShiftBegin|
	directionPositionShiftEnd|
	directionPrintBracketClose|
	directionPrintBracketOpen|
	directionPrintPageTurn|
	directionPrintPaginationIndicator|
	directionPush|
	directionRightHand|
	directionSequence|
	directionString1|
	directionString2|
	directionString3|
	directionString4|
	directionString5|
	directionString6|
	directionString7|
	directionStrum|
	directionSuppressRegistration|
	directionTerminator|
	directionTextPrefix|
	directionTranscriberAddition|
	dynamicCrescendoBeginLong|
	dynamicCrescendoBeginShort|
	dynamicCrescendoEndLong|
	dynamicCrescendoEndShort|
	dynamicDiminuendoBeginLong|
	dynamicDiminuendoBeginShort|
	dynamicDiminuendoEndLong|
	dynamicDiminuendoEndShort|
	dynamicForteLong|
	dynamicForteShort|
	dynamicFortissimoLong|
	dynamicFortissimoShort|
	dynamicMezzoForteLong|
	dynamicMezzoForteShort|
	dynamicMezzoPianoLong|
	dynamicMezzoPianoShort|
	dynamicPianissimoLong|
	dynamicPianissimoShort|
	dynamicPianoLong|
	dynamicPianoShort|
	dynamicTextCrescendo|
	dynamicTextDecrescendo|
	dynamicTextDiminuendo|
	figure0|
	figure1|
	figure2|
	figure3|
	figure4|
	figure5|
	figure6|
	figure7|
	figure8|
	figure9|
	fingering1|
	fingering2|
	fingering3|
	fingering4|
	fingering5|
	fingeringChangeFingers|
	fingeringOmitFirst|
	fingeringOmitSecond|
	intervalComma|
	intervalFifth|
	intervalFourth|
	intervalOctave|
	intervalSecond|
	intervalSeventh|
	intervalSixth|
	intervalThird|
	ipaAdvancedDiacritic|
	ipaAdvancedTongueRootDiacritic|
	ipaAffricateOrDoubleArticulationDiacritic|
	ipaAlveolarClick|
	ipaAlveolarLateralClick|
	ipaApicalDiacritic|
	ipaAspiratedDiacritic|
	ipaBeginIPATranscription|
	ipaBeginNonIPACharacters|
	ipaBeginOrEndPhonemicTranscription|
	ipaBilabialClick|
	ipaBreathyVoicedDiacritic|
	ipaCentralizedDiacritic|
	ipaCentralMidVowel|
	ipaCentralNearOpenVowel|
	ipaCreakyVoicedDiacritic|
	ipaDentalClick|
	ipaDentalDiacritic|
	ipaDownstep|
	ipaEjectiveDiacritic|
	ipaEndIPATranscription|
	ipaEndNonIPACharacters|
	ipaExtraHighLevelToneDiacritic|
	ipaExtraHighLevelToneLetter|
	ipaExtraLowLevelToneDiacritic|
	ipaExtraLowLevelToneLetter|
	ipaExtraShortSuprasegmental|
	ipaFallingContourToneDiacritic|
	ipaFallingContourToneLetter|
	ipaGlobalFall|
	ipaGlobalRise|
	ipaHalfLongSuprasegmental|
	ipaHighLevelToneDiacritic|
	ipaHighLevelToneLetter|
	ipaHighRisingContourToneDiacritic|
	ipaHighRisingContourToneLetter|
	ipaLabializedDiacritic|
	ipaLaminalDiacritic|
	ipaLateralReleaseDiacritic|
	ipaLessRoundedDiacritic|
	ipaLinguolabialDiacritic|
	ipaLinkingSuprasegmental|
	ipaLongSuprasegmental|
	ipaLoweredDiacritic|
	ipaLowLevelToneDiacritic|
	ipaLowLevelToneLetter|
	ipaLowRisingContourToneDiacritic|
	ipaLowRisingContourToneLetter|
	ipaMajorGroupSuprasegmental|
	ipaMidCentralizedDiacritic|
	ipaMidLevelToneDiacritic|
	ipaMidLevelToneLetter|
	ipaMinorGroupSuprasegmental|
	ipaMoreRoundedDiacritic|
	ipaNasalizedDiacritic|
	ipaNasalReleaseDiacritic|
	ipaNoAudiblereleaseDiacritic|
	ipaNonIPASymbol|
	ipaNonSyllabicDiacritic|
	ipaPalatalizedDiacritic|
	ipaPalatoalveolarClick|
	ipaPause|
	ipaPharyngealizedDiacritic|
	ipaRaisedDiacritic|
	ipaRetractedDiacritic|
	ipaRetractedTongueRootDiacritic|
	ipaRewriteArrow|
	ipaRhoticityDiacritic|
	ipaRisingContourToneDiacritic|
	ipaRisingContourToneLetter|
	ipaRisingFallingContourToneDiacritic|
	ipaRisingFallingContourToneLetter|
	ipaRoundedBackCloseMidVowel|
	ipaRoundedBackCloseVowel|
	ipaRoundedBackOpenMidVowel|
	ipaRoundedBackOpenVowel|
	ipaRoundedCentralCloseMidVowel|
	ipaRoundedCentralCloseVowel|
	ipaRoundedCentralOpenMidVowel|
	ipaRoundedFrontCloseMidVowel|
	ipaRoundedFrontCloseVowel|
	ipaRoundedFrontOpenMidVowel|
	ipaRoundedFrontOpenVowel|
	ipaRoundedNearBackNearCloseVowel|
	ipaRoundedNearFrontNearCloseVowel|
	ipaSecondaryStressSuprasegmental|
	ipaStressSuprasegmental|
	ipaSyllabicDiacritic|
	ipaSyllableBreakSuprasegmental|
	ipaUnroundedBackCloseMidVowel|
	ipaUnroundedBackCloseVowel|
	ipaUnroundedBackOpenMidVowel|
	ipaUnroundedBackOpenVowel|
	ipaUnroundedCentralCloseMidVowel|
	ipaUnroundedCentralCloseVowel|
	ipaUnroundedCentralOpenMidVowel|
	ipaUnroundedFrontCloseMidVowel|
	ipaUnroundedFrontCloseVowel|
	ipaUnroundedFrontNearOpenVowel|
	ipaUnroundedFrontOpenMidVowel|
	ipaUnroundedFrontOpenVowel|
	ipaUnroundedNearFrontNearCloseVowel|
	ipaUnvoicedAlveolarAffricate|
	ipaUnvoicedAlveolarFricative|
	ipaUnvoicedAlveolarLateralFricative|
	ipaUnvoicedAlveolarPlosive|
	ipaUnvoicedAlveoloPalatalAffricate|
	ipaUnvoicedAlveoloPalatalFricative|
	ipaUnvoicedBilabialFricative|
	ipaUnvoicedBilabialPlosive|
	ipaUnvoicedDentalFricative|
	ipaUnvoicedDiacritic|
	ipaUnvoicedEpiglottalFricative|
	ipaUnvoicedEpiglottalPlosive|
	ipaUnvoicedGlottalFricative|
	ipaUnvoicedGlottalPlosive|
	ipaUnvoicedLabialVelarApproximant|
	ipaUnvoicedLabiodentalFricative|
	ipaUnvociedPalatalFricative|
	ipaUnvoicedPalatalPlosive|
	ipaUnvoicedPharyngealFricative|
	ipaUnvoicedPostalveolarAffricate|
	ipaUnvoicedPostalveolarAffricateAlternate|
	ipaUnvoicedPostalveolarFricative|
	ipaUnvoicedPostalveolarFricativeLong|
	ipaUnvoicedPostalveolarVelarFricative|
	ipaUnvoicedRetroflexFricative|
	ipaUnvoicedRetroflexPlosive|
	ipaUnvoicedUvularFricative|
	ipaUnvoicedUvularPlosive|
	ipaUnvoicedVelarFricative|
	ipaUnvoicedVelarPlosive|
	ipaUpset|
	ipaVelarizedDiacritic|
	ipaVelarizedOrPharyngealizedDiacritic|
	ipaVoicedAlveolarAffricate|
	ipaVoicedAlveolarApproximant|
	ipaVoicedAlveolarFricative|
	ipaVoicedAlveolarImplosive|
	ipaVoicedAlveolarLateralApproximant|
	ipaVoicedAlveolarLateralFlap|
	ipaVoicedAlveolarLateralFricative|
	ipaVoicedAlveolarNasal|
	ipaVoicedAlveolarPlosive|
	ipaVoicedAlveolarTapOrFlap|
	ipaVoicedAlveolarTrill|
	ipaVoicedAlveoloPalatalFricative|
	ipaVoicedAlveoloPalatalFricativeAlternate|
	ipaVoicedBilabialFricative|
	ipaVoicedBilabialImplosive|
	ipaVoicedBilabialNasal|
	ipaVoicedBilabialPlosive|
	ipaVoicedBilabialTrill|
	ipaVoicedDentalFricative|
	ipaVoicedDiacritic|
	ipaVoicedEpiglottalFricative|
	ipaVoicedGlottalFricative|
	ipaVoicedLabializedPalatalApproximant|
	ipaVoicedLabialVelarApproximant|
	ipaVoicedLabiodentalApproximant|
	ipaVoicedLabiodentalFricative|
	ipaVoicedLabiodentalNasal|
	ipaVoicedLabiodentalTapOrFlap|
	ipaVoicedPalatalApproximant|
	ipaVoicedPalatalFricative|
	ipaVoicedPalatalImplosive|
	ipaVoicedPalatalLateralApproximant|
	ipaVoicedPalatalNasal|
	ipaVoicedPalatalPlosive|
	ipaVoicedPharyngealFricative|
	ipaVoicedPostalveolarAffricate|
	ipaVoicedPostalveolarAffricateAlternate|
	ipaVoicedPostalveolarFricative|
	ipaVoicedPostalveolarFricativeAlternate|
	ipaVoicedRetroflexApproximant|
	ipaVoicedRetroflexFricative|
	ipaVoicedRetroflexLateralApproximant|
	ipaVoicedRetroflexNasal|
	ipaVoicedRetroflexPlosive|
	ipaVoicedRetroflexTapOrFlap|
	ipaVoicedUvularFricative|
	ipaVoicedUvularImplosive|
	ipaVoicedUvularNasal|
	ipaVoicedUvularPlosive|
	ipaVoicedUvularTrill|
	ipaVoicedVelarApproximant|
	ipaVoicedVelarFricative|
	ipaVoicedVelarImplosive|
	ipaVoicedVelarizedAlveolarLateralApproximant|
	ipaVoicedVelarLateralApproximant|
	ipaVoicedVelarNasal|
	ipaVoicedVelarPlosive|
	keySignatureFlat|
	keySignatureMultiplier1|
	keySignatureMultiplier2|
	keySignatureMultiplier3|
	keySignatureMultiplier4|
	keySignatureMultiplier5|
	keySignatureMultiplier6|
	keySignatureMultiplier7|
	keySignatureNatural|
	keySignaturePrefix|
	keySignatureSharp|
	lineContinuationBegin|
	lineContinuationEnd|
	lineHorizontal|
	lineStaffReceive|
	lineStaffSend|
	noteAppoggiaturaLong|
	noteAppoggiaturaShort|
	noteAugmentationDot|
	noteCoincidence|
	noteDoubleWholeA|
	noteDoubleWholeB|
	noteDoubleWholeC|
	noteDoubleWholeD|
	noteDoubleWholeE|
	noteDoubleWholeF|
	noteDoubleWholeG|
	noteDurationlessA|
	noteDurationlessB|
	noteDurationlessC|
	noteDurationlessD|
	noteDurationlessE|
	noteDurationlessF|
	noteDurationlessG|
	noteEighthA|
	noteEighthB|
	noteEighthC|
	noteEighthD|
	noteEighthE|
	noteEighthF|
	noteEighthG|
	noteFeatheredAccelerando|
	noteFeatheredConstant|
	noteFeatheredEnd|
	noteFeatheredRitardando|
	noteHalfA|
	noteHalfB|
	noteHalfC|
	noteHalfD|
	noteHalfE|
	noteHalfF|
	noteHalfG|
	noteheadApproximatePitch|
	noteheadApproximatePitchMultiple|
	noteheadApproximatePitchAfterSlantedLine|
	noteheadDiamond|
	noteheadDiamondMultiple|
	noteheadShape1|
	noteheadShape2|
	noteheadShape3|
	noteheadStemless|
	noteheadStemlessMultiple|
	noteheadX|
	noteheadXMultiple|
	noteInAccord|
	noteInAccordMeasureDivision|
	noteInAccordPartialMeasure|
	noteOneHundredTwentyEighthA|
	noteOneHundredTwentyEighthB|
	noteOneHundredTwentyEighthC|
	noteOneHundredTwentyEighthD|
	noteOneHundredTwentyEighthE|
	noteOneHundredTwentyEighthF|
	noteOneHundredTwentyEighthG|
	notePreferLargerValues|
	notePreferSmallerValues|
	notePreferSmallestValues|
	noteQuarterA|
	noteQuarterB|
	noteQuarterC|
	noteQuarterD|
	noteQuarterE|
	noteQuarterF|
	noteQuarterG|
	noteSixteenthA|
	noteSixteenthB|
	noteSixteenthC|
	noteSixteenthD|
	noteSixteenthE|
	noteSixteenthF|
	noteSixteenthG|
	noteSixtyFourthA|
	noteSixtyFourthB|
	noteSixtyFourthC|
	noteSixtyFourthD|
	noteSixtyFourthE|
	noteSixtyFourthF|
	noteSixtyFourthG|
	noteSizeLarger|
	noteSizeLargerMultiple|
	noteSizeSmaller|
	noteSizeSmallerMultiple|
	noteStemEighth|
	noteStemHalf|
	noteStemQuarter|
	noteStemSixteenth|
	noteStemThirtySecond|
	noteStemWhole|
	noteThirtySecondA|
	noteThirtySecondB|
	noteThirtySecondC|
	noteThirtySecondD|
	noteThirtySecondE|
	noteThirtySecondF|
	noteThirtySecondG|
	noteToneClusterAll|
	noteToneClusterFlat|
	noteToneClusterNatural|
	noteToneClusterSharp|
	noteToneClusterUnspecified|
	noteTwoHundredFiftySixthA|
	noteTwoHundredFiftySixthB|
	noteTwoHundredFiftySixthC|
	noteTwoHundredFiftySixthD|
	noteTwoHundredFiftySixthE|
	noteTwoHundredFiftySixthF|
	noteTwoHundredFiftySixthG|
	noteVariant|
	noteWholeA|
	noteWholeB|
	noteWholeC|
	noteWholeD|
	noteWholeE|
	noteWholeF|
	noteWholeG|
	octave0|
	octave1|
	octave2|
	octave3|
	octave4|
	octave5|
	octave6|
	octave7|
	octave8|
	partButtonRow|
	partFiguredBass|
	partHandsOnly|
	partLeftHandLong|
	partLeftHandIntervalsDownward
	partLeftHandShort|
	partPedal|
	partRightHandLong|
	partRightHandIntervalsUpward
	partRightHandShort|
	partSoloOutline|
	pedalChangeFeet|
	pedalCrossFront|
	pedalCrossBehind|
	pedalDamp|
	pedalDampAfterSounding|
	pedalDampBelowNote|
	pedalDiagramPositionHigh|
	pedalDiagramPositionLow|
	pedalDiagramPositionMiddle|
	pedalDiagramPositionUnchanged|
	pedalDiagramPrefix|
	pedalDown|
	pedalDownAfterStrike|
	pedalHalf|
	pedalLeftHeel|
	pedalLeftToe|
	pedalLetVibrate|
	pedalRightHeel|
	pedalRightToe|
	pedalUp|
	pedalUpAfterStrike|
	pedalUpDown|
	repeatAperiodic|
	repeatBarlineBegin|
	repeatBarlineEnd|
	repeatBeginRepeatedSection|
	repeatCoda|
	repeatDaCapo|
	repeatDaCapoBraille|
	repeatEnd|
	repeatEndingFirst|
	repeatEndingSecond|
	repeatEndingThird|
	repeatEndRepeatedSection|
	repeatMeasure|
	repeatNumberOfMeasures|
	restDoubleWhole|
	restEighth|
	restHalf|
	restMultimeasureLeft|
	restMultimeasureRight|
	restOneHundredTwentyEighth|
	restQuarter|
	restSixteenth|
	restSixtyFourth|
	restThirtySecond|
	restTwoHundredFiftySixth|
	restWhole|
	slurAppoggiatura|
	slurBegin|
	slurConverging|
	slurCrossPart|
	slurCrossPartBegin|
	slurCrossPartContinue|
	slurEnd|
	slurHalfPhrase|
	slurLongBegin|
	slurModified|
	slurOpenBefore|
	slurOpenAfter|
	slurShort|
	slurStaffReceive|
	slurStaffSend|
	text0|
	text1|	
	text2|	
	text3|	
	text4|	
	text5|	
	text6|	
	text7|	
	text8|	
	text9|	
	textA|
	textAccentAcute|
	textAccentBreve|
	textAccentCedilla|
	textAccentCircle|
	textAccentCircumflex|
	textAccentDiaeresis|
	textAccentEng|
	textAccentGrave|
	textAccentMacron|
	textAccentSlash|
	textAccentTilde|
	textAccidentalOnly|
	textAe|
	textAmpersand|
	textApostrophe|
	textAsterisk|
	textAsteriskOld|
	textAt|
	textB|
	textBackslash|
	textBar|
	textBoldfaceEnd|
	textBoldfacePassage|
	textBoldfaceSymbol|
	textBoldfaceWord|
	textBrailleSymbolIndicator|
	textBullet|
	textC|
	textCapitalizeEnd|
	textCapitalizeLetter|
	textCapitalizePassage|
	textCapitalizeWord|
	textCaret|
	textCent|
	textColon|
	textComma|
	textContinuationLine|
	textContractionAbout|
	textContractionAbove|
	textContractionAccording|
	textContractionAcross|
	textContractionAfter|
	textContractionAfternoon|
	textContractionAfterward|
	textContractionAgain|
	textContractionAgainst|
	textContractionAlly|
	textContractionAlmost|
	textContractionAlready|
	textContractionAlso|
	textContractionAlthough|
	textContractionAltogether|
	textContractionAlways|
	textContractionAnce|
	textContractionAnd|
	textContractionAr|
	textContractionAs|
	textContractionAtion|
	textContractionBb|
	textContractionBe|
	textContractionBecause|
	textContractionBefore|
	textContractionBehind|
	textContractionBelow|
	textContractionBeneath|
	textContractionBeside|
	textContractionBetween|
	textContractionBeyond|
	textContractionBle|
	textContractionBlind|
	textContractionBraille|
	textContractionBut|
	textContractionBy|
	textContractionCan|
	textContractionCannot|
	textContractionCc|
	textContractionCeive|
	textContractionCeiving|
	textContractionCh|
	textContractionCharacter|
	textContractionChild|
	textContractionChildren|
	textContractionCom|
	textContractionCon|
	textContractionCould|
	textContractionDay|
	textContractionDd|
	textContractionDeclare|
	textContractionDeclaring|
	textContractionDis|
	textContractionDo|
	textContractionEa|
	textContractionEd|
	textContractionEither|
	textContractionEn|
	textContractionEnce|
	textContractionEnough|
	textContractionEr|
	textContractionEver|
	textContractionEvery|
	textContractionFather|
	textContractionFf|
	textContractionFirst|
	textContractionFor|
	textContractionFriend|
	textContractionFrom|
	textContractionFul|
	textContractionGg|
	textContractionGh|
	textContractionGo|
	textContractionGood|
	textContractionGreat|
	textContractionHad|
	textContractionHave|
	textContractionHere|
	textContractionHerself|
	textContractionHim|
	textContractionHimself|
	textContractionHis|
	textContractionImmediate|
	textContractionIn|
	textContractionIng|
	textContractionIt|
	textContractionIts|
	textContractionItself|
	textContractionIty|
	textContractionJust|
	textContractionKnow|
	textContractionKnowledge|
	textContractionLess|
	textContractionLetter|
	textContractionLike|
	textContractionLittle|
	textContractionLord|
	textContractionMany|
	textContractionMent|
	textContractionMore|
	textContractionMother|
	textContractionMuch|
	textContractionMust|
	textContractionMyself|
	textContractionName|
	textContractionNecessary|
	textContractionNeither|
	textContractionNess|
	textContractionNot|
	textContractionOClock|
	textContractionOf|
	textContractionOne|
	textContractionOng|
	textContractionOu|
	textContractionOught|
	textContractionOund|
	textContractionOunt|
	textContractionOurselves|
	textContractionOut|
	textContractionOw|
	textContractionPaid|
	textContractionPart|
	textContractionPeople|
	textContractionPerhaps|
	textContractionQuestion|
	textContractionQuick|
	textContractionQuite|
	textContractionRather|
	textContractionReceive|
	textContractionReceiving|
	textContractionRejoice|
	textContractionRejoicing|
	textContractionRight|
	textContractionSaid|
	textContractionSelf|
	textContractionSh|
	textContractionShall|
	textContractionShould|
	textContractionSion|
	textContractionSo|
	textContractionSome|
	textContractionSpirit|
	textContractionSt|
	textContractionStill|
	textContractionSuch|
	textContractionTh|
	textContractionThat|
	textContractionThe|
	textContractionTheir|
	textContractionThemselves|
	textContractionThere|
	textContractionThese|
	textContractionThis|
	textContractionThose|
	textContractionThrough|
	textContractionTime|
	textContractionTion|
	textContractionTo|
	textContractionToday|
	textContractionTogether|
	textContractionTomorrow|
	textContractionTonight|
	textContractionUnder|
	textContractionUpon|
	textContractionUs|
	textContractionVery|
	textContractionWas|
	textContractionWere|
	textContractionWh|
	textContractionWhere|
	textContractionWhich|
	textContractionWhose|
	textContractionWill|
	textContractionWith|
	textContractionWord|
	textContractionWork|
	textContractionWorld|
	textContractionWould|
	textContractionYou|
	textContractionYoung|
	textContractionYour|
	textContractionYourself|
	textContractionYourselves|
	textCopyright|
	textCurvedBracketClose|
	textCurvedBracketOpen|
	textD|
	textDagger|
	textDaggerDouble|
	textDecimalPoint|
	textDegree|
	textDitto|
	textDivision|
	textDollar|
	textDoubleQuotationMark|
	textDoubleQuotationMarkClose|
	textDoubleQuotationMarkOpen|
	textDoubleQuotationMarkOldClose|
	textDoubleQuotationMarkOldOpen|
	textE|
	textEmDash|
	textEmDashOld|
	textEnDash|
	textEnDashOld|
	textEndTastoSolo|
	textEquals|
	textEuro|
	textExclamationPoint|
	textExclamationPointInverted|
	textF|
	textFeet|
	textFemale|
	textFigureSlashed|
	textFranc|
	textG|
	textGreaterThan|
	textH|
	textHyphen|
	textI|
	textInches|
	textItalicEnd|
	textItalicPassage|
	textItalicSymbol|
	textItalicWord|
	textJ|
	textK|
	textL|
	textLeadingDots|
	textLessThan|
	textLowercase|
	textM|
	textMale|
	textMinus|
	textMultiplication|
	textN|
	textNaira|
	textNumberSign|
	textO|
	textOctothorpe|
	textOe|
	textP|
	textParagraph|
	textParenthesis|
	textParenthesisClose|
	textParenthesisOpen|
	textPercent|
	textPeriod|
	textPlus|
	textPointingSymbol|
	textPoundSterling|
	textPrime|
	textPunctuationPrefix|
	textQ|
	textQuestionMark|
	textQuestionMarkInverted|
	textR|
	textRecitingToneTextBegin|
	textRecitingToneTextEnd|
	textRegistered|
	textRepeat|
	textRepeatTwice|
	textS|
	textScriptEnd|
	textScriptPassage|
	textScriptSymbol|
	textScriptWord|
	textSeconds|
	textSection|
	textSemicolon|
	textSingleQuotationMarkClose|
	textSingleQuotationMarkOpen|
	textSingleQuotationMarkOldClose|
	textSingleQuotationMarkOldOpen|
	textSlash|
	textSlashOld|
	textSquareBracketClose|
	textSquareBracketOpen|
	textSubscript|
	textSuperscript|
	textT|
	textTerminator|
	textTilde|
	textTrademark|
	textTranscriberNoteBegin|
	textTranscriberNoteEnd|
	textU|
	textUnderlineEnd|
	textUnderlinePassage|
	textUnderlineSymbol|
	textUnderlineWord|
	textUnderscore|
	textV|
	textW|
	textX|
	textY|
	textYen|
	textZ|
	tie|
	tieAccumulating|
	tieMultiple|
	tieMultipleSuccessive|
	timeSignatureBottom0|
	timeSignatureBottom1|
	timeSignatureBottom2|
	timeSignatureBottom3|
	timeSignatureBottom4|
	timeSignatureBottom5|
	timeSignatureBottom6|
	timeSignatureBottom7|
	timeSignatureBottom8|
	timeSignatureBottom9|
	timeSignatureCommonTime|
	timeSignatureCutTime|
	timeSignaturePrefix|
	timeSignatureTop0|
	timeSignatureTop1|
	timeSignatureTop2|
	timeSignatureTop3|
	timeSignatureTop4|
	timeSignatureTop5|
	timeSignatureTop6|
	timeSignatureTop7|
	timeSignatureTop8|
	timeSignatureTop9|
	triplet|
	tupletPrefix|
	tupletSuffix|
	untranslated) 
		#REQUIRED>
<!ATTLIST symbol val CDATA #IMPLIED>
